@model DeveloperDOtnetStoreProject.Models.Views.ProductHomepageViewModel
@{
    ViewBag.Title = "Produkter";
}

<h2>Produkter</h2>
@if(Context.User.Identity.IsAuthenticated) { 
    <p>
        @Html.ActionLink("Opret Produkt", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.products.First().ProductModelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.products.First().NameHeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.products.First().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.products.First().QuantityStorage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.products.First().NameDescription)
        </th>
        <!-- Ekstra -->
        <th>
            @Html.DisplayNameFor(model => model.products.First().CategoryHModelId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.products.First().CategoryHeaderModel.Name)
        </th>
        <th>
            @*Html.DisplayNameFor(model => model.TechnicalSpecifications)*@
        </th>
        <th>
            @Html.DisplayName("Options")
        </th>
    </tr>
    @foreach (var itemData in Model.products)
    {
        <tr>
            <td>@Html.DisplayFor(holder => itemData.ProductModelId)</td>

            <td>@Html.DisplayFor(holder => itemData.NameHeader)</td>

            <td>@Html.DisplayFor(holder => itemData.Price)</td>

            <td>@Html.DisplayFor(holder => itemData.QuantityStorage)</td>

            <td>@Html.DisplayFor(holder => itemData.NameDescription)</td>
            
            <td>@Html.DisplayFor(holder => itemData.CategoryHModelId)</td>

            <td>@Html.DisplayFor(holder => itemData.CategoryHeaderModel.CategoryHeaderModelId)</td>
            <td>@Html.DisplayFor(holder => itemData.CategoryHeaderModel.Name)</td>

            <td>@Html.DisplayFor(holder => itemData.Reviews)</td>

            <td>@*Html.DisplayFor(holder => itemData.TechnicalSpecifications)*@</td>

            <td>
                @if (Context.User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = itemData.ProductModelId })
                } |
                @Html.ActionLink("Details", "Details", new { id = itemData.ProductModelId }) |
                @Html.ActionLink("Delete", "Delete", new { id = itemData.ProductModelId })
            </td>
        </tr>
    }
</table>