@model DeveloperDOtnetStoreProject.Models.User.UserModel

<div class="form-group">
    @Html.LabelFor(a => a.FirstName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(a => a.LastName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(a => a.Address, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(a => a.Address, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(a => a.PostalCode, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(a => a.PostalCode, new { @class = "form-control" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(a => a.City, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(a => a.City, new { @class = "form-control" })
    </div>
</div>